@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.pace-zone-1 {
  color: gray;
}

.pace-zone-2 {
  color: ForestGreen;
}

.pace-zone-3 {
  color: DarkGoldenRod;
}

.pace-zone-4 {
  color: chocolate;
}

.pace-zone-5 {
  color: crimson;
}

.pace-zone-6 {
  color: firebrick;
}

@media (prefers-color-scheme: dark) {
  .pace-zone-1 {
    color: gray;
  }

  .pace-zone-2 {
    color: chartreuse;
  }

  .pace-zone-3 {
    color: bisque;
  }

  .pace-zone-4 {
    color: chocolate;
  }

  .pace-zone-5 {
    color: crimson;
  }

  .pace-zone-6 {
    color: firebrick;
  }
}